.main
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	height: 100%;
}

.hidden
{
	Display:none;
}

.buttonstop
{
	margin-right: 10px;	
	margin-bottom: 10px;
	text-align: right;
	margin-top: 10px;
}

.btn
{
	margin-right: 10px;
}

.table
{
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 5px #f5f5f5;
}

.flash
{
	box-shadow: 0 0 10px blue;
	transition: box-shadow 1000ms;
}

#addRowForm
{
	display:inline-block;
}
.bs-component
{
	height: 0%;
}

.height100
{
	height: 100%;
}

#tableWrapper
{
	
  height: 80%;
  overflow-y: scroll;
 
}

html, body {
   height: 100%;
}
